:host {
    display: inline-flex;
}

.dropdown {
    position: relative;
    display: inline-flex;
    max-width: 400px;
    min-width: 180px;
    margin: 0 auto;
    border: 1px solid #3C1C78;
    background-color: #16013E;
    z-index: 10;

    &:after {
        position: absolute;
        right: 0;
        top: 0;
        width: 50px;
        height: 100%;
        line-height: 60px ;
        content: '︾';
        text-align: center;
        color: #714BB9;
        font-size: 24px;
        border-left: 1px solid #3C1C78;
        z-index: -1;
    }

    &__label {
        padding-right: 0.75rem;
    }

    &__control {
        border: none;
        outline: none;
        background: transparent;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0;
        margin: 0;
        display: block;
        width: 100%;
        padding: 12px 55px 15px 15px;
        font-size: 14px;
        color: #714BB9;
    }
}