<div>
    <app-avatar label="Lionel Scaloni">
        <img src="assets/scaloni.png" #image />
    </app-avatar> 
   <app-tabs>
        <app-tab *ngFor="let player of goalkeeper" [label]="player.fullName">
            <span tab-header>
                {{player.fullName}}
            </span>
            <div tab-body>
                <ul>
                    <li><strong>Club:</strong> {{player.fullCurrentClub}}</li>
                    <li><strong>Edad:</strong> {{player.age}}</li>
                </ul>
            </div>
        </app-tab> 
   </app-tabs>
</div>
