<div>
    <h2><strong>[app-player-list]</strong>Jugadores</h2>
    <ul class="players">
        <li *ngFor="let player of goalKeepers" class="players__item">
                <figure class="players__item__photo">
                    <img [src]="'assets/players/' + player.photo + '.jpeg'" />
                </figure>
                <ul>
                    <li>
                        <h3>{{player.fullName}}</h3>
                    </li>
                    <li>
                        <input type="checkbox" class="players__item__control" [checked]="player.isInside" (change)="updatePlayer(player)" />
                    </li>
                </ul>
        </li>
    </ul>   
</div>
