<div class="board">
    <div class="board__stadium">
        <div class="board__stadium__container">
            <app-position-players-dropdown [selectedPlayers]="goalKeeper" placeholder="Selecciona un arquero" [count]="1"></app-position-players-dropdown>
            <app-position-players-dropdown [selectedPlayers]="defence" placeholder="Selecciona defensores" [count]="4"></app-position-players-dropdown>
            <app-position-players-dropdown [selectedPlayers]="midfielder"  placeholder="Selecciona mediocampista" [count]="3"></app-position-players-dropdown>
            <app-position-players-dropdown [selectedPlayers]="forward"  placeholder="Selecciona delantero" [count]="3"></app-position-players-dropdown>
        </div>
    </div>
</div>
