<div>
  <h2>Page Home</h2>
  <ul class="card-list">
      <li class="card-list__card" *ngFor="let player of players">
          <figure class="card-list__card__container">
              <img [src]="'assets/players/' + player.photo + '.jpeg'" class="card-list__card__photo" />
          </figure>
          <h3>{{player.name + ' ' + player.lastName}}</h3>
          <ul>
              <li>
                  <strong>Edad:</strong>
                  {{player.age}}
              </li>
              <li>
                  <strong>Club:</strong>
                  {{player.currentClub}}
                  ({{player.countryClub}})
              </li>
              <li [ngSwitch]="player.position">
                 <span *ngSwitchCase="0">ARQUERO</span>
                 <span *ngSwitchCase="1">DEFENSOR</span>
                 <span *ngSwitchCase="2">MEDIOCAMPISTA</span>
                 <span *ngSwitchCase="3">DELANTERO</span>
              </li>
              <li *ngIf="player.yellowCard > 0">
                  <span class="yellow-card"></span>
              </li>
          </ul>
      </li>
  </ul>

</div>

